@font-face {
  font-family: 'OpenSansI';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}
 
@font-face {
  font-family: 'OpenSansB';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
 
@font-face {
  font-family: 'OpenSansN';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'latoRegular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoLight';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
